.footer{

background:
linear-gradient(
180deg,
#0f172a,
#020617
);

padding:
60px 8% 20px;

margin-top:
80px;

border-top:
1px solid rgba(
255,
255,
255,
0.1
);

}


.footer-container{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
220px,
1fr
)
);

gap:
40px;

}


.footer-brand h2{

font-size:
2rem;

color:
#3b82f6;

margin-bottom:
15px;

}


.footer-brand p{

color:
#cbd5e1;

line-height:
1.7;

}


.footer-links,
.footer-social{

display:flex;
flex-direction:
column;

gap:
15px;

}


.footer-links h3,
.footer-social h3{

color:
white;

margin-bottom:
10px;

}


.footer a{

color:
#94a3b8;

text-decoration:
none;

transition:
0.3s;

}


.footer a:hover{

color:
#3b82f6;

padding-left:
5px;

}


.footer-bottom{

margin-top:
50px;

padding-top:
20px;

text-align:
center;

border-top:
1px solid rgba(
255,
255,
255,
0.08
);

color:
#94a3b8;

font-size:
14px;

}


@media(
max-width:768px
){

.footer{

text-align:
center;

}

.footer-links,
.footer-social{

align-items:
center;

}

}