:root{

--bg:#0f1117;
--card:#161b22;
--card2:#1e293b;

--text:#ffffff;
--text2:#cbd5e1;

--primary:#2563eb;
--primaryHover:#1d4ed8;

--radius:20px;

--shadow:
0 10px 30px rgba(0,0,0,.3);

}

/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

background:
linear-gradient(
180deg,
#0f1117,
#111827
);

font-family:
Arial,
Helvetica,
sans-serif;

color:
var(--text);

}

/* APP */

.app{

min-height:
100vh;

display:flex;
flex-direction:
column;

gap:
60px;

}

/* SECCIONES */

section{

padding:
80px 8%;

}

/* TITULOS */

section h1{

font-size:
2.5rem;

text-align:
center;

margin-bottom:
50px;

position:
relative;

}

section h1::after{

content:"";

width:
80px;

height:
4px;

background:
var(--primary);

display:
block;

margin:
12px auto;

border-radius:
30px;

}

/* GRID */

.cards-container{

display:
grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
300px,
1fr
)
);

gap:
30px;

}

/* CONTADOR */

#Contador{

background:
var(--card);

border-radius:
var(--radius);

padding:
50px;

box-shadow:
var(--shadow);

}

/* CONTACTO */

#contacto{

background:
var(--card);

padding:
50px;

border-radius:
var(--radius);

box-shadow:
var(--shadow);

}

/* ANIMACION */

section{

animation:
fade .8s ease;

}

@keyframes fade{

from{

opacity:0;

transform:
translateY(
25px
);

}

to{

opacity:1;

transform:
translateY(
0
);

}

}

/* MOBILE */

@media(
max-width:768px
){

section{

padding:
60px 5%;

}

section h1{

font-size:
1.8rem;

}

.cards-container{

grid-template-columns:
1fr;

}

}
html{
scroll-behavior:smooth;
}
